body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: auto;
	width:60%;
}

section {
	background-color:purple;
	color:white;
	padding:5px;
	padding-left:20px;
	width:100%;
	border-radius:5px;
	margin:15px;

}
a.article {
	color:white;
	text-decoration:none;
}

a.article:hover {
	color:#000;
}
