<% include header %>

  <h1><%-title %></h1>
  <p>Welcome to <%-title %></p>
  <% for (article in articles) { %>
  	<p><%= articles[article].title
  	 %></p>
  <% } %>

<a href="/users">View all users</a>
<a href="/articles/new">add an article</a>  


<% include footer %>
